<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>quiz Website</title>
        <style>
            body{
                background-image: linear-gradient(to bottom right, #A683E3  ,#E4E9FD );
            }
            form{
                max-width: 700px;
                margin: auto;
                display:block;
                width: 70%;
            }
            .top{
                display: flex;
                background-color: #E4E9FD;
                height: 100px;
                justify-content: center;
                align-items: center;
                border: 1px solid #A683E3;
                border-radius: 5px;
                margin-bottom: 40px;
            }
            .mcq{
                border-radius: 5px;
                background-color: #E4E9FD;
                padding: 10px;
            }
            .question{
                margin-bottom: 20px;
            }
            .opt{
                font-weight: 400;
                border: 2px solid ;
                border-radius: 5px;
                padding: 5px;
                padding-left: 15px;
                width: 100%;
                cursor: pointer;
                margin-bottom: 15px;
            }
            .opt:hover{
                background: #A683E3;
                background-color: #A683E3;
            }
            .full{
                background-color: #A683E3;
                border-radius: 5px;
                padding: 20px;
                width: 100%;
            }
            .b{
                float: right;
                margin-top: 20px;
                pointer-events: none;
            }
            .b.active{
              pointer-events: auto;
            }
            #t{
                float: right;
                margin-top: 20px;
                margin-right: 10px;
            }
            #n{
                float: left;
                margin-top: 20px;
            }
            .container{
                margin-top: 150px;
            }
            .info{
                /* display: inline-block; */
                width: 100%;
                border-radius: 5px;
                background-color:#A683E3;
                margin-top: 100px;
                padding: 20px;
            }
            .number{
                border: 3px solid #A683E3;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: inline-block;
                justify-content: center;
                align-items: center;
                background-color: #E4E9FD;
                margin-bottom: 10px;
            }
            .in{
                display: inline-block;
                width: 100%;
                /* margin-bottom: 80px; */
                padding: 10px;
                padding-left: 20px;
                margin-bottom: 30px;
                background-color: #E4E9FD;
                border-radius: 5px;
            }
            h6{
                padding-bottom: 20px;
            }
            .numofques{
                display: inline-block;
                background-color: #E4E9FD;
                padding: 10px;
                border-radius: 5px;
                width: 100%;
            }
            .number p{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .timer{
                display: flex;
                justify-content: right;
                font-size: 30px;
                color: gray;
            }
            .count{
                margin-top: 20px;
                font-size: 20px;
            }
            .op .opt.colorchange{
              background: #A683E3;
              color: black;
            }
            .op .opt.disabled{
              pointer-events: none;
            }
            .result-box{
              position: absolute;
              top: 25%;
              left: 25%;
              width: 50%;
              margin: auto;
              border: 2px solid black;
              border-radius: 5px;
              background-color: #E4E9FD;
              padding: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              opacity: 0;
              pointer-events: none;
            }
            .result-box.active{
              opacity: 1;
              pointer-events: auto;
            }
            .result-box h2{
              font-size: 52px;
            }
            .result-box .percentage-container{
              width: 300px;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .percentage-container .circular-progress{
              position: relative;
              width: 250px;
              height: 250px;
              background: conic-gradient(#A683E3 3.6deg, rgba(255,255,255, .1) 0deg);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .percentage-container .circular-progress::before{
              content: '';
              position: absolute;
              width: 210px;
              height: 210px;
              background: #E4E9FD;
              border-radius: 50%;
            }
            .circular-progress .progress-value{
              position: relative;
              font-size: 45px;
              font-weight: 600;
            }
            .percentage-container .score-text{
              font-size: 26px;
              font-weight: 600;
              margin-top: 20px;
            }
            .gohome{
              width: 130px;
              height: 47px;
              background: #A683E3;
              border-radius: 5px;
              outline: none;
              font-size: 16px;
              font-weight: 600;
              cursor: pointer;
            }
            .gohome:hover{
              background: #E4E9FD;
              background-color: #E4E9FD;
            }
            .b1.active{
              opacity:0;
              pointer-events: none;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>

    <body >
      <div class="b1">
        <form>
        <div class="top">
        <h1> Quiz </h1>
        </div>
        <!-- <div class="timer" id="timer">00:00:00</div> -->
        <div class="full">
        <div class="question mcq">
          <h2 class="mcq1"> ques </h2>
        </div>
        <div class="mcq opt1 op">
          <label for="html" class="opt"> opt1 </label><br>
          <label for="html" class="opt"> opt2 </label><br>
          <label for="html" class="opt"> opt3 </label><br>
          <label for="html" class="opt"> opt4 </label><br>
        </div>
        </div>
            <button id="b" type="button" class="btn btn-primary b">Save and Next</button>
            <!-- <button id="t" type="button" class="btn btn-primary">Skip</button> -->
        <h6 class="count">1 of 4 Questions</h6>
        </form>

        <div class="container foot">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                  <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span>
              </div>
            </footer>
          </div>
          </div>



          <div class="result-box">
            <h2>Quiz Result</h2>
            <div class="percentage-container">
              <div class="circular-progress">
                <span class="progress-value">0%</span>
              </div>
              <span class="score-text">You scored 0 out of 5</span>
            </div>
            <form action="/last" method="post">
            <center><button class="gohome">Go To Home</button></center>
            </form>
          </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
        <script>
        var questions=[
          {
  Topic:"HTML",
  question:"What does the abbreviation HTML stand for?",
  opt1:"A. HyperText Markup Language",
  opt2:"B. HighText Markup Language",
  opt3:"C. HyperText Markdown Language",
  opt4:"D. None",
  answer:"A. HyperText Markup Language"
},
{
  Topic:"CSS",
  question:"How many sizes of headers are available in HTML by default?",
  opt1:"A. 5",
  opt2:"B. 1",
  opt3:"C. 3",
  opt4:"D. 6",
  answer:"D. 6"
},
{
  Topic: "CSS",
  question: "The full form of CSS is ?",
  opt1: "A. Cascading Style Sheets",
  opt2: "B. Coloured Special Sheets",
  opt3: "C. Colour and style sheets",
  opt4: "D. None Of the Above",
  answer: "A. Cascading Style Sheets"

},
{
   Topic: "CSS",
   question: "In how many ways can CSS be written in ?",
   opt1: "A. 1",
   opt2: "B. 2",
   opt3: "C. 3",
   opt4: "D. 4",
   answer: "C. 3"

},
{
    Topic: "CSS",
    quesiton: "Which HTML tag is used to describe internal CSS",
    opt1: "A. <style>",
    opt2: "B. <link>",
    opt3: "C. <script>",
    opt4: "D. None of the Above ",
    answer: "A. <style>"
},
{
   Topic: "CSS",
   question: "Which of the following are valid ways to represent a colour in CSS ?",
   opt1: "A. A valide colour name",
   opt2: "B. RGB values",
   opt3: "C. HEX vaues",
   opt4: "D. All of the above",
   answer: "D. All of the above"

},
{
   Topic: "CSS",
   question: "What will be the width of the div element given below?",
  opt1: "A. 310px",
  opt2: "B. 350px",
  opt3:"C. 360px",
  opt4: "D. 335px ",
  answer: "C. 360px"

},
{
 Topic: "Node.js",
 question: "_________ is a interactive shell that processes Node",
 opt1: "A. REAL",
 opt2: "B. REPL",
 opt3: "C. RESP",
 opt4: "D. None of the Above",
 answer: "D. None of the Above"

},
{
Topic: "Node.js",
 question: "Node.js is written in which language ?",
 opt1: "A. C++",
 opt2: "B. Python",
 opt3: "C. Javascript",
 opt4: "D. Java",
 answer: "C. Javascript"

},

{
   Topic: "Node.js",
 question: "Which of the following are examples of node modules ?",
 opt1: "A. Express",
 opt2: "B. Bodey-Parser",
 opt3: "C. Socket.io",
 opt4: "D. All of the Above",
 answer: "D. All of the Aboce"
},
{
   Topic: "Node.js",
 question: "We can kill a process in Node.js using the keyboard shortcut ?",
 opt1: "A. Ctrl + C",
 opt2: "B. Ctrcl + B",
 opt3: "C. Ctrl + K",
 opt4: "D. Shift + C",
 answer: "A. Ctrl + C"
},
{
Topic: "Node.js",
 question: "What is the full form of npm ?",
 opt1: "A. Node Project Manager",
 opt2: "B. Node Package  Module",
 opt3: "C. New Project Manager",
 opt4: "D. Node Package Manager",
 answer: "D. Node Package Manager"

},
{
   Topic: "Javascript",
   question: "What will be the output of the following code snippet ?",
 opt1: "A. 3",
 opt2: "B. 5",
 opt3: "C. 0",
 opt4: "D. 1",
 answer: "B. 5"

},
{
   Topic: "Javascript",
   question: "What will be the output of the following code snippet ?",
 opt1: "A. 3,4",
 opt2: "B. 3,4,5",
 opt3: "C. 2,3,4",
 opt4: "D. 2,3",
 answer: "A. 3,4"

},
{
   Topic: "Javascript",
   question: "Which of the following is not a Javascript framework?",

 opt1: "A. Node",
 opt2: "B. React",
 opt3: "C. Cassandra",
 opt4: "D. Vue",
 answer: "C. Cassandra "

},
{
   Topic: "Javascript",
   question: " How do we write a comment in javascript ? ",

 opt1: "A. //",
 opt2: "B. /* */",
 opt3: "C. #",
 opt4: "D. $$",
 answer: "A. //"

},
{
   Topic: "Javascript",
   question: " Which of the following keywords is used to define a variable in Javascript?",

 opt1: "A. var",
 opt2: "B. let",
 opt3: "C. None",
 opt4: "D. Both (A) and (B)",
 answer: "D. Both (A) and (B)"
},


{
 Topic: "HTML",
 question: " Which attribute is used to provide a unique name to an HTML element ?",
 opt1: "A. id",
 opt2: "B. class",
 opt3: "C. type",
 opt4: "D. div",
 answer: "A. id"


},
{
 Topic: "HTML",
 question: " What is the correct syntax to write an HTML comment ?",
 opt1: "A. #comment",
 opt2: "B. // comment",
 opt3: "C. /* comment  */ ",
 opt4: "D. <-- comment --> ",
 answer: "D.  <-- comment --> "


},
{
 Topic: "HTML",
 question: "  How is black color represented in terms of RGB values ?",

 opt1: "A. RGB (100,100,100)",
 opt2: "B. RGB(0,0,0)",
 opt3: "C. RGB(100,100,0) ",
 opt4: "D. RGB(0,100,100) ",
 answer: "B. RGB(0,0,0)"


}
        ]
          var count=1;
          var quesnumb=1;
          var score=0;
          function showques(index){
            const questext=document.querySelector('.mcq1');
            questext.textContent= questions[index].question;
            var opttag=`<label for="html" class="opt">${questions[index].opt1}</label><br>
                       <label for="html" class="opt">${questions[index].opt2}</label><br>
                       <label for="html" class="opt">${questions[index].opt3}</label><br>
                       <label for="html" class="opt">${questions[index].opt4}</label><br>`;
            opt1.innerHTML=opttag;
            const opt=document.querySelectorAll(".opt");
            for(var i=0;i<opt.length;i++){
              opt[i].setAttribute('onclick','optselected(this)');
            }
          };

          function optselected(answer){
            var userans=answer.textContent;
            var correctans=questions[count-1].answer;
            var allopt=opt1.children.length;
            answer.classList.add('colorchange');
            if(userans==correctans){
              score=score+1;
            console.log(score);
            }else{
            console.log("ans is wrong");
            }
            for(var i=0;i<allopt;i++){
              opt1.children[i].classList.add('disabled');
            }
            nextbtn.classList.add('active');
          }
          const opt1=document.querySelector('.opt1');
          const nextbtn=document.querySelector('.b');
          showques(0);
          quescounter(1);
          nextbtn.onclick=()=>{
            //count++;
            if(count<questions.length){
            showques(count);
            count++;
            quesnumb++;
            quescounter(quesnumb);
            nextbtn.classList.remove('active');
          }else{
             showresultbox();
          }
          }
          function quescounter(index){
            const questotal=document.querySelector(".count");
            questotal.textContent=`${index} of ${questions.length} Questions`;
          }
          const resultbox=document.querySelector('.result-box');
          const full=document.querySelector('.b1');
          function showresultbox(){
              full.classList.add('active');
              resultbox.classList.add('active');
              const scoretext=document.querySelector('.score-text');
              scoretext.textContent=`You scored ${score} out of ${questions.length}`;
              const circularprogress=document.querySelector('.circular-progress');
              const progressvalue=document.querySelector('.progress-value');
              var  progressstartvalue=-1;
              var progressendvalue=(score/questions.length)*100;
              Math.round(progressendvalue);
              var speed=20;

              var progress = setInterval(() => {
                progressstartvalue++;
                // console.log(progressstartvalue);
                progressvalue.textContent=`${progressstartvalue}%`;
                // var prog=progressendvalue-progressstartvalue
                circularprogress.style.background=`conic-gradient(#A683E3 ${(progressstartvalue+1)*3.6}deg, rgba(255,255,255, .1) 0deg)`;
                if(progressstartvalue==progressendvalue){
                  clearInterval(progress);
                }
              },speed);
          }

        </script>
    </body>
</html>
